Label{
-fx-border-color:black;
-fx-border-width: 1;
-fx-border-style: solid;
-fx-padding: 5 8 5 8;
}

Button{
-fx-border-color:black;
-fx-border-width: 1;
-fx-border-style: solid;
minHeight="30"
minWidth="75"
}